<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sjden.betfairtest" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RaceTypeActivity"
            android:label="@string/title_activity_race_type"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".VenuesActivity"
            android:label="@string/title_activity_venue_list"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RacesActivity"
            android:label="@string/title_activity_races"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RunnersActivity"
            android:label="@string/title_activity_runners"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".StakeActivity"
            android:label="@string/title_activity_stake"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BetSuccessActivity"
            android:label="@string/title_activity_bet_success"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WalletActivity"
            android:label="Wallet"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BetlistActivity"
            android:label="Bet History"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
